<app-base-panel [className]="CONTAINER_CLASS" [position]="position" [collapse]="this.collapse">
  <div class="{{CONTAINER_CLASS}}">
    <div class="w-[100%]">
      <input nz-input class="w-[80%] ml-[20px] mt-[10px]" placeholder="搜索组件" [(ngModel)]="searchValue"
        (ngModelChange)="search()" />
    </div>
    <div #dndContainer>
      <nz-collapse nzBordered="false">
        <nz-collapse-panel nzHeader="通用节点" nzActive>
          <div class="xflow-node-panel-official">
            <ng-template #templateRef></ng-template>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
      <ng-template #customPanelTemplateRef></ng-template>
    </div>

    <div class="{{CONTAINER_CLASS}}-icon" [ngStyle]="{
            top: '21px',
            right: !collapse ? '-10px' : '-20px',
            borderRadius: !collapse ? '50%' : '0 50% 50% 0',
            borderLeft: !collapse ? '' : 'none',
          }" (click)="setCollapse()">
      <span *ngIf="collapse" nz-icon nzType="double-right" nzTheme="outline"></span>
      <span *ngIf="!collapse" nz-icon nzType="double-left" nzTheme="outline"></span>
    </div>
  </div>
</app-base-panel>