<div class='w-full h-full overflow-hidden flex'>
    <app-er-canvas-toolbar (changeGraphStatus)="changeGraphStatus($event)" [dataSource]="dataSourceType"
        [dataSourceMenu]="dataSourceMenu" (changeDataSource)="changeDataSource($event)" class="absolute w-full z-50">
    </app-er-canvas-toolbar>
    <app-er-table-panel class="h-full" [table]="dataSource.get(dataSourceType)"></app-er-table-panel>
    <div class="bg-white border border-r-[#d9d9d9] h-full w-2 relative top-[40px]"></div>
    <app-x-flow [graphData]='graphData' [onload]="onload" class="flex-grow h-full">
        <app-er-canvas #canvas class="flex-grow h-full" [position]="{top: 40, left: 0, right: 0, bottom: 0}">
        </app-er-canvas>
    </app-x-flow>
    <app-editor-panel [position]="{ width: 240, top: 40, bottom: 0, right: 0 }"></app-editor-panel>
    <app-minimap></app-minimap>
</div>