<div class='h-full overflow-hidden' (mousemove)="mouseMove($event)" (mousedown)="mouseDown($event)"
    (mouseleave)="mouseLeave($event)">
    <app-x-flow [graphData]='graphData' [onload]="onload">
        <app-er-canvas-toolbar (changeGraphStatus)="changeGraphStatus($event)" [dataSource]="dataSourceType"
            [dataSourceMenu]="dataSourceMenu" (changeDataSource)="changeDataSource($event)"></app-er-canvas-toolbar>
        <app-er-canvas #canvas [position]="{top: 40, left: 0, right: 0, bottom: 0}"></app-er-canvas>
        <app-er-table-panel [table]="dataSource.get(dataSourceType)"></app-er-table-panel>
    </app-x-flow>
    <!-- 建立节点提示 -->
    <div class="cursor-tip-container" #cursorTipRef>
        <div class="draft-entity-container">
            <div>未命名模型</div>
        </div>
    </div>
</div>