<div class="entity-container {{getCls()}}">
    <div class="content {{getCls()}}">
        <div class="flex flex-row items-center justify-between w-[calc(100%-12px)] h-[38px] ml-[6px] text-[12px]">
            <div>
                <span nz-icon nzType="bars" nzTheme="outline" class="pr-[8px]"></span>
                <span>{{entity.entityName}}</span>
            </div>
            <div class="cursor-pointer w-[20px] h-[20px] flex items-center justify-center size-[16px] text-[14px] hover:text-[#1890ff] hover:opacity-[0.6]"
                (click)="delNode()">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
            </div>
        </div>
        <div class="body">
            <div *ngFor="let item of this.entity.entityProperties">
                <app-er-field [item]="item"></app-er-field>
            </div>
        </div>
    </div>
</div>