<div class="entity-container {{getCls()}}">
    <div class="content {{getCls()}}">
        <div class="flex flex-row items-center justify-between w-[calc(100%-12px)] h-[38px] ml-[6px] text-[12px]">
            <div>
                <span nz-icon nzType="bars" nzTheme="outline" class="pr-[8px]"></span>
                <span>{{entity.entityName}}</span>
            </div>
            <div class="cursor-pointer w-[20px] h-[20px] flex items-center justify-center size-[16px] text-[14px] hover:text-[#1890ff] hover:opacity-[0.6]"
                (click)="delNode()">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
            </div>
        </div>
        <div class="body">
            <div *ngFor="let item of expand?this.entity.entityProperties:this.entity.entityProperties.slice(0,5)">
                <app-er-field [item]="item"></app-er-field>
            </div>
            <div class="flex items-center justify-center w-[100%] h-[8px]" *ngIf="!expand">
                <button nz-button nzType="link" nzSize="small" (click)="expandField()">
                    <span class="text-[8px] text-[#1890ff]">展示所有字段
                        <span nz-icon nzType="down" nzTheme="outline"></span>
                    </span>
                </button>
            </div>
            <div class="flex items-center justify-center w-[100%] h-[8px]" *ngIf="expand">
                <button nz-button nzType="link" nzSize="small" (click)="hiddenField()">
                    <span class="text-[8px] text-[#1890ff]">收起字段
                        <span nz-icon nzType="up" nzTheme="outline"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>