.entity-container {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 2px;

  &.fact {
    border: 1px solid #cdddfd;

    &:hover {
      border: 1px solid #1890ff;
    }
  }

  &.dim {
    border: 1px solid #decfea;

    &:hover {
      border: 1px solid #1890ff;
    }
  }

  &.other {
    border: 1px solid #ced4de;

    &:hover {
      border: 1px solid #1890ff;
    }
  }

  .content {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px 1px;

    &.fact {
      background-color: #cdddfd;
    }

    &.dim {
      background-color: #decfea;
    }

    &.other {
      background-color: #ced4de;
    }

    .body {
      width: calc(100% - 12px);
      height: calc(100% - 36px - 6px);
      margin-bottom: 6px;
      margin-left: 6px;
      overflow: auto;
      background-color: white;
      cursor: pointer;
    }
  }
}
