<app-base-panel [className]="CONTAINER_CLASS" [position]="position">
    <div class="{{CONTAINER_CLASS}}">
        <div>
            <nz-list nzBordered nzHeader="Table">
                <nz-list-item *ngFor="let item of table">
                    <div (mousedown)="startDrag($event,item)" class="cursor-grab">
                        <span nz-icon nzType="table" nzTheme="outline"></span>
                        {{ item.entityName }}
                    </div>

                </nz-list-item>
            </nz-list>
        </div>
        <div class="{{CONTAINER_CLASS}}-icon" [ngStyle]="{
            top: '21px',
            right: !collapse ? '-10px' : '-20px',
            borderRadius: !collapse ? '50%' : '0 50% 50% 0',
            borderLeft: !collapse ? '' : 'none',
          }" (click)="setCollapse()">
            <span *ngIf="collapse" nz-icon nzType="double-right" nzTheme="outline"></span>
            <span *ngIf="!collapse" nz-icon nzType="double-left" nzTheme="outline"></span>
        </div>
    </div>
</app-base-panel>