.ngx-flow-workspace-toolbar-top{
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    height: 40px;
    background: #fff;
}
.ngx-flow-toolbar-groups{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    line-height: 40px;
}
.ngx-flow-toolbar-item{
    margin: 0px 10px 4px 6px;
    padding: 0px 6px;
    color: #595959;
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
}
.ngx-flow-toolbar-item:hover {
    background-color:#cdced0;
    transition: 0.07s;
}