<div class="bg-[#1A1A1AFF] relative h-full flex justify-center items-center">
  <div class="relative">
    <div class="flex justify-center items-center mb-16">
      <strong class="text-7xl font-medium text-transparent bg-clip-text bg-gradient-to-r from-[#8514f5] via-[#f637e3] to-[#fa2c05]">NGX-FLOW</strong>
    </div>
    <div class="relative flex justify-center items-center">
      <button class="m-4" (click)="navigate('flow')">
        <span>流程图</span>
      </button>
      <button class="m-4" (click)="navigate('er')">
        <span>ER图</span>
      </button>
    </div>
  </div>
</div>
