<div class="flex items-center w-[100%] h-[40px] bg-[#ced4de]">
    <div class="pt-0 pb-0 pl-[8px] pr-[8px] text-[rgba(0,0,0,.65)] hover:text-[#000] cursor-pointer"
        (click)="addNode()">
        <span nz-icon nzType="plus-circle" nzTheme="outline">添加节点</span>
    </div>
    <div class="pt-0 pb-0 pl-[8px] pr-[8px] text-[rgba(0,0,0,.65)] hover:text-[#000] cursor-pointer">
        <span nz-icon nzType="link" nzTheme="outline">添加关系</span>
    </div>
    <div class="pt-0 pb-0 pl-[8px] pr-[8px] {{isDisable()}}" (click)="delNode()">
        <span nz-icon nzType="delete" nzTheme="outline" (click)="delNode()">删除节点</span>
    </div>
</div>